Source: deepin-cef-helper
Section: metapackages
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>= 9), libffi7 [loongarch64]
Standards-Version: 4.5.1

Package: deepin-cef-helper
Architecture: any
Depends: ${misc:Depends}
Description: The Chromium Embedded Framework (CEF)
 A simple framework for embedding Chromium-based browsers in other applications.