Source: org.deepin.cef
Section: web
Priority: optional
Maintainer: Deepin Browser <browser@deepin.com>
Build-Depends: debhelper (>= 9), libffi7 [loongarch64]
Standards-Version: v30.0.0-nightly.20231218
Homepage: https://www.deepin.com/
Rules-Requires-Root: no

Package: org.deepin.cef
Architecture: any
Depends: ${misc:Depends}
Description: org.deepin.cef
 A fast web browser with simple interface.
