#!/usr/bin/make -f

PACKAGE_NAME := 
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
%:
	dh $@
override_dh_auto_build-arch: 
	mkdir -p opt/apps/com.cef/files/cef
ifeq (amd64,$(DEB_HOST_ARCH))
	$(info Resetting PACKGAE_NAME)
	$(eval PACKAGE_NAME :="cef_binary_121.3.13+g5c4a81b+chromium-121.0.6167.184_linux64")
	cat ./src/$(DEB_HOST_ARCH)/cef_binary_package_$(DEB_HOST_ARCH)_* > ./$(PACKAGE_NAME).tar.bz2
	sha1sum ./$(PACKAGE_NAME).tar.bz2
	tar -xvf ./$(PACKAGE_NAME).tar.bz2 $(PACKAGE_NAME)/Release
else ifeq (arm64,$(DEB_HOST_ARCH))
	$(info Resetting PACKGAE_NAME)
	$(eval PACKAGE_NAME :="cef_binary_121.3.13+g5c4a81b+chromium-121.0.6167.184_linuxarm64")
	cat ./src/$(DEB_HOST_ARCH)/cef_binary_package_$(DEB_HOST_ARCH)_* > ./$(PACKAGE_NAME).tar.bz2
	sha1sum ./$(PACKAGE_NAME).tar.bz2
	tar -xvf ./$(PACKAGE_NAME).tar.bz2 $(PACKAGE_NAME)/Release
else ifeq (loongarch64,$(DEB_HOST_ARCH))
	$(info Resetting PACKGAE_NAME)
	$(eval PACKAGE_NAME :="cef_binary_112.3.0+gb09c4ca+chromium-112.0.5615.165_linuxloong64")
	cat ./src/$(DEB_HOST_ARCH)/cef_binary_package_$(DEB_HOST_ARCH)_* > ./$(PACKAGE_NAME).zip
	md5sum ./$(PACKAGE_NAME).zip
	unzip $(PACKAGE_NAME).zip -d . 
else
	$(error Unsupported architecture: $(DEB_BUILD_ARCH))
endif
	mv $(PACKAGE_NAME)/Release/* opt/apps/com.cef/files/cef
	rm -fr $(PACKAGE_NAME).* $(PACKAGE_NAME)

override_dh_auto_install-arch:
	dh_auto_install

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_clean:
	rm -rf cef_binary_*
	find . -name \*.pyc -execdir rm -f {} \;
	dh_auto_clean
